:root {
    --very-dark-blue-main-bg: hsl(233, 47%, 7%);
    --dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);

    --white-main-heading-stats: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

    --body-font-size: 15px;
}

.inter-400{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.inter-700{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--very-dark-blue-main-bg);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-desaturated-blue-card-bg);

    /* Mobile */
    /* inline-size: 20.4rem; */
    /* block-size: 48.7rem; */

    /* Desktop */
    inline-size: 69.5rem;
    block-size: 28rem;


    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.card-img {
    /* Mobile */
    /* border-top-left-radius: 8px; */
    border-top-right-radius: 8px;

    /* Desktop */
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
 
}

.card-img-con {
    position: relative;
}

.card-para {
    color: var(--slightly-transparent-white-main-paragraph);

    /* Mobile */
    /* margin-inline: 1.4rem; */
    /* margin-block-end: 2.3125rem; */
    /* padding-inline: 0.31rem; */
    /* font-size: 0.95rem; */
    /* line-height: 1.65; */
    
    /* Desktop */
    margin-inline: 4rem 9rem;
    margin-block-end: 2.9rem;
    padding-inline: 0.4rem;
    font-size: 0.95rem;
    line-height: 1.65;

    
    
}
.card-title {
    color: var(--white-main-heading-stats);
    /* Mobile */
    /* font-size: 1.75rem; */
    /* margin-inline: 1.289rem; */
    /* margin-block: 2.3rem 1rem; */
    /* padding-block-start: 0.2rem; */
    /* line-height: 1.15; */
    
    /* Desktop */
    font-size: 2.25rem;
    margin-inline: 4.5rem 7.55rem;
    margin-block: 4.6rem 1.5rem;
    padding-block-start: 0.2rem;
    
    /* padding-inline-start: 2.5rem;
    padding-inline-end: 1.6rem; */
   
    
    line-height: 1.15;

    
    
}
.card-title>span {
    color: var(--soft-violet-accent);
}
.overlay {
    /* Mobile */
    /* border-top-left-radius: 8px; */
    border-top-right-radius: 8px;

    /* Desktop */
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;

    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  
    background-color: hsl(from hsl(277.12, 54.94%, 49.61%) h s l / 0.7 );
}

.stats-con {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
    
    
}


.stats-con>section>h2 {
    color: var(--white-main-heading-stats);
}
.stats-con>section:nth-child(2)>h2, .stats-con>section:nth-child(3)>h2{
    padding-block-start: 1.45rem;
}

.stats-con>section>p {
    color: var(--slightly-transparent-white-stat-headings);
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

.stats-con>section:nth-child(2)>p, .stats-con>section:nth-child(3)>p {
    padding-block-start: 0.1rem;
}

@media (min-width: 47.5rem) {
    .card {
        flex-direction: row-reverse;
    }

    .card-content {
        align-self: flex-start;
    }
    .card-title {
        text-align: left;
    }
   
    .card-img {
        max-width: none;
      
    }

    .card-para {
        text-align: left;
        
    }

    .overlay {
        border-top-left-radius: 0;
        border-bottom-right-radius: 8px;
    }

    .stats-con {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

}